<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--下載資料夾-->
    <add key="DownloadPath" value="D:\Temp\" />
    <!--放chrome driver的資料夾-->
    <add key="DriverFolder" value="D:\\Worksapce\\temp\\CrawlerDemo\\CrawlerDemo" />
  </appSettings>
</configuration>